body {
background-color: lightblue;

}
h1 {
color: dodgerblue;
font-size: 50px;
font-family: Copperplate, Papyrus, Fantasy;

}

h2 {
color: dodgerblue;
}

h3 {
color: dodgerblue;
}

#header {
text-align: center;

}
#history {
text-align: center;
}

#why {
text-align: center;
}
p {
color: darkblue;
}

